.page-header {
    background-color: pink;
    margin-top: 0;
    margin-bottom: 40px;
    padding: 20px 20px 20px 40px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: black;
    font-size: 36pt;
    text-decoration: none;
    font-family: 'Lobster';

}

h1,
h2,
h3,
h4 {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.date {
    color: black;
    background-color: pink;
}

.save {
    float: right;
    color: pink;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu,
.top-menu:hover,
.top-menu:visited {
    color: #000000;
    float: right;
    text-transform: uppercase;
    font-size: 12pt;
    margin-right: 20px;
    text-decoration: none;
}

.top-menu a {
    color:black;
    font-weight:800;
    text-decoration: none;
}

.top-menu a:hover {
    color:crimson;
}

.post {
    margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
    color: #000000;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 28px;
    text-decoration: none;
}

.post > .actions,
.post > .date {
    float: right;
    color: black;
    font-size: 18px;
}

.btn-default,
.btn-default:visited {
    color: black;
    background: none;
    border-color:black;
}

.btn-default:hover {
    color: black;
    background-color: pink;
}

svg {
    fill:black;
    font-size:16px;
}
